.list-products-container {
    position: relative;
}

.product-modal-image {
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-modal {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 1rem;
}

.product-modal h3 {
    font-size: .8rem;
    font-weight: 500;
    color: var(--color-secundary) !important;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-modal-volume {
    color: var(--color-primary);
    font-size: .6rem;
    font-weight: 400;
}

.product-modal-volume strong {
    font-weight: 500;
}

.product-modal-price-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .2rem;
}

.product-modal-price-container .price {
    font-weight: 500;
    font-size: .9rem;
    color: var(--color-primary);
}

.product-modal-price-container .price-now {
    color: var(--brand-dark);
    font-size: 1.2rem;
}

.product-modal-image-discount {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 35px;
    background-image: url('../../assets/imagens/Product/discount.svg');
    background-position: center center;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .6rem;
}

.swiper {
    margin: 0 !important;
}

.swiper-controller {
    width: 100%;
    height: 100%;
    position: absolute;
}

.swiper-button-prev-custom.list-product {
    transform: translateX(-2rem);
    opacity: 1;
}

.swiper-button-next-custom.list-product {
    transform: translateX(2rem);
    opacity: 1;
}

.swiper-list-products {
    overflow: hidden;
}

.swiper-pagination-bullet.product {
    height: .3rem;
    width: .3rem;
}

.swiper-pagination-bullet-active.product {
    width: 2.5rem;
}

.swiper-cover-product-container {
    height: 318px;
    width: 20%;
    display: block;
}

.swiper-cover-product {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.2rem;
}

@media (max-width: 1000px) {
    .swiper-cover-product-container {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .swiper-cover-product-container {
        width: 50%;
    }
}