.ListProductShow {
    position: relative;
}

.ListProductShow_Title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;

    background-image: linear-gradient(to left, var(--brand-dark), var(--brand));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ListProductShow_Title::selection {
    -webkit-text-fill-color: white;
}

.ProductModalBoxImage {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ProductModal {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 1rem;
}

.ProductModal h3 {
    font-size: .8rem;
    font-weight: 500;
    color: var(--brand-secudary) !important;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ProductModal_Volume {
    color: var(--brand-primary);
    font-size: .6rem;
    font-weight: 400;
}

.ProductModal_Volume strong {
    font-weight: 500;
}

.ProductModal_Prices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .2rem;
}

.ProductModal .price {
    font-weight: 500;
    font-size: .9rem;
    color: var(--brand-primary);
}

.ProductModal .priceNow {
    color: var(--brand-dark);
    font-size: 1.2rem;
}

.ProductModal_Image_Discount {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 35px;
    background-image: url('../../assets/imagens/Product/discount.svg');
    background-position: center center;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .6rem;
}

.ListModalList_Button.Right{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.swiper-controller {
    width: 100%;
    height: 100%;
    position: absolute;
}

.swiper-button-prev-custom.list-product {
    transform: translateX(-2rem);
    opacity: 1;
}

.swiper-button-next-custom.list-product {
    transform: translateX(2rem);
    opacity: 1;
}

.swiper-list-products {
    overflow: hidden;
}

.swiper-pagination-bullet.product {
    height: .3rem;
    width: .3rem;
}

.swiper-pagination-bullet-active.product {
    width: 2.5rem;
}

.swiper-cover-product-container {
    height: 318px;
    display: block;
}

.swiper-cover-product {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.2rem;
}

@media (max-width: 1000px) {
    .ListProductShow_Title {
        margin-bottom: 0px;
    }
}