.ScoreStart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    color: var(--brand-dark);
    font-weight: 600;
    font-size: .9rem;
}

.ScoreStartIcon {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.ScoreStartIcon span {
    display: flex;
    align-items: center;
}

.ScoreStartIcon.Reverse {
    transform: scaleX(-1);
}