.SlidesWelcome {
    display: flex;
    flex-direction: column;
}

.SlidesWelcomeBox {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    border-radius: 1.2rem;
}
.SlidesWelcome_Slide {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.SlidesWelcome_ButtonPrev {
    background: none;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.SlidesWelcome_ButtonNext {
    background: none;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.SlideNow_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: .8rem;
}

.swiper-pagination > .swiper-pagination-bullet {
    height: .4rem;
    width: .4rem;
    background: var(--brand-primary);
    border-radius: 50%;
    transition: all 500ms ease-out;
    opacity: 1;
}

.swiper-pagination > .swiper-pagination-bullet-active {
    width: 2.5rem;
    border-radius: .5rem;
    background: var(--brand-dark);
}

@media (max-width: 1000px) {
    .SlidesWelcome {
        flex-direction: column-reverse;
    }

    .SlidesWelcome_Slide {
        height: 185px;
    }

    .SlideNow_Container {
        margin-top: 0rem;
        margin-bottom: .8rem;
    }
}