.swiper-slide-img {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-button-prev-custom {
    background: none;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.swiper-button-next-custom {
    background: none;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.swiper-pagination > .swiper-pagination-bullet {
    height: .4rem;
    width: .4rem;
    background: var(--brand-primary);
    border-radius: 50%;
    transition: all 500ms ease-out;
    opacity: 1;
}

.swiper-pagination > .swiper-pagination-bullet-active {
    width: 2.5rem;
    border-radius: .5rem;
    background: var(--brand-dark);
}

.swiper > .swiper-pagination {
    position: relative;
    margin-top: 5px;
}

@media (max-width: 1000px) {
    .SlidesWelcome {
        flex-direction: column-reverse;
    }

    .SlidesWelcome_Slide {
        height: 185px;
    }

    .SlideNow_Container {
        margin-top: 0rem;
        margin-bottom: .8rem;
    }
}