.page-catalogo-container {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 20% 78%;
}

.products-grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

@media (max-width: 1000px) {
    .page-catalogo-container {
        display: flex;
        flex-direction: column;
    }
    
    .thumb {
        width: 100%;
    }
}