.Header {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 0;
}

nav {
    order: 1;
    width: 50%;
}

@media (min-width: 1000px) {
    header {
        margin-bottom: 2rem;
    }
    
    .Header {
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;
    }
    
    .Logo {
        background-image: url("../../assets/Logo/Logo.png");
        height: 5rem;
        width: 5rem;
    }
    
    .Header nav {
        display: flex;
        gap: 2rem;
    }
    
    button.icons {
        color: var(--brand-dark);
    }
    
    button.icons:hover {
        color: var(--brand-select);
    }
}