.header_search {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 64px;
    width: 100%;
    order: 2;
    margin: 1rem 0;
}

.header_search label {
    padding: 0 1rem;
    height: 100%;
    background: white;
    border-radius: .4rem;

    display: inline-flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.header_search input {
    font-size: .9rem;
    background: none;
    border: none;
    outline: none;
}

.header_search_button {
    color: var(--brand-primary);
}

@media (min-width: 1000px) {
    .header_search input{
        border: none;
        outline: none;
        background: none;
        border-bottom: 1px solid var(--brand-primary);
        padding: .2rem 0;
        width: 270px;
        transition: border-color 200ms ;
    }
    
    .header_search input:focus {
        border-color: var(--brand-dark);
    }
    
    .header_search input::placeholder {
        font-size: .9rem;
    }
    
    .header_search_button {
        display: inline-flex;
        align-items: center;
        color: var(--brand-primary);
        transition: color 200ms ;
    }
    
    .header_search_button:hover {
        color: var(--brand-dark);
    }
    
    .header_search_button:active {
        color: var(--brand-select);
    }
}