@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Bebidas';
    src: url('./assets/Fonts/Bebidas-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-brand: #009C33;
    --color-brand-dark: #006B23;
    --color-brand-select: #003010;
    --color-primary: #989898;
    --color-secundary: #3C3C3C;
    --color-brand-menu: #32353A;
    --color-bg: #EEE9E2;
    --color-bg-secundary: #E5E0D7;
    --font-poppins: "Poppins", sans-serif;
    --font-bebidas: "Bebidas", sans-serif;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
    }

    body, html {
        background: var(--color-bg);
    }

    button, input, textarea {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    button {
        border: none;
        background: none;
        display: inline-flex;
        cursor: pointer;
    }

    ::selection {
        background-color: var(--color-brand);
        color: var(--color-bg);
    }
}

.swiper-pagination-perso {
    width: 100%;
    margin: .5rem 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
}

.swiper-pagination-perso > .swiper-pagination-bullet {
    height: .4rem;
    width: .4rem;
    background: var(--color-primary);
    border-radius: 50%;
    transition: all 500ms ease-out;
    opacity: 1;
}

.swiper-pagination-perso > .swiper-pagination-bullet-active {
    width: 2.5rem;
    border-radius: .5rem;
    background: var(--color-brand-dark);
}
